// Fonts
$font-family-body: 'Noto Sans', sans-serif;
$font-family-mono: monospace;
$font-family-tt: monospace;
$font-size: 18px;
$line-height: 1.725;
$page-width: 50rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: 'white'; // white dark light classic
